@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: Catamaran;
  line-height: 1.5;
}

//headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 900;

  &.lg-heading {
    font-size: 6rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 5), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  font-weight: 900;
}
h3.text-secondary {
  font-size: 3rem;
}
h6 {
  font-family: Catamaran;
  font-size: 1rem;
}
main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .footer-social-icons {
    margin-top: rem;

    a {
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 10vh;
    }
  }
  .sm-heading {
    font-family: Catamaran;
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  }
  h4 {
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: 1000;
    font-style: italic;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.19);
  }

  .index-links div {
    margin-top: 5rem;
    margin: 20px 10px 0;
    height: 150px;
    align-items: center;
    background: rgba(lighten($primary-color, 1), 0.5);
    padding: 10px 0;
  }
  .index-links div:hover {
    background-color: rgba(42, 204, 204, 0.19);
  }
  .index-links {
    padding-bottom: 10px;
    overflow: hidden;
  }
  .index-boxlink-rectangle {
    width: calc(30% - 25px) !important;
    height: 80% !important;
  }
  .index-links h3 {
    text-align: center;
    margin-top: 1.2rem;
    font-family: Catamaran;
    font-weight: 900;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }

  .footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 120px;
  }
  .footer-social-icons ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 2px;
    text-align: center;
  }
  .footer-social-icons ul li a {
    color: #fff;
    display: block;
    font-size: 15px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
  }
  .footer-social-icons ul li a i {
    line-height: 50px;
  }
  .footer-social-icons ul li:nth-child(1) {
    background: #3b5998;
    border-radius: 100%;
  }
  .footer-social-icons ul li:nth-child(2) {
    background: #1da1f2;
    border-radius: 100%;
  }
  .footer-social-icons ul li:nth-child(3) {
    background: #007bb5;
    border-radius: 100%;
  }
  .footer-social-icons ul li:nth-child(4) {
    background: #00aff0;
    border-radius: 100%;
  }
  .footer-social-icons ul li:nth-child(5) {
    background: #db4437;
    border-radius: 100%;
  }
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 14px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  margin-bottom: 1px;
}
.footer-bottom p a:hover {
  text-decoration: none;
  color: rgb(255, 102, 0);
  font-weight: 900;
}
.footer-bottom p.terms-conditions {
  font-size: 11px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 1px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
  ul {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
  }
  ul.workc {
    top: 150%;
  }
  ul li {
    list-style: none;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 50px;
    background: rgba(lighten($secondary-color, 1), 0.6);
    border-radius: 50%;
  }
  ul li:hover {
    background: darken($secondary-color, 1);
    box-shadow: 0 0 10px rgba(lighten($secondary-color, 1), 0.6),
      0 0 20px rgba(lighten($secondary-color, 1), 0.6),
      0 0 30px rgba(lighten($secondary-color, 1), 0.6),
      0 0 0 75px rgba(lighten($secondary-color, 1), 0.06),
      0 0 0 60px rgba(lighten($secondary-color, 1), 0.06),
      0 0 0 45px rgba(lighten($secondary-color, 1), 0.06),
      0 0 0 30px rgba(lighten($secondary-color, 1), 0.06),
      0 0 0 15px rgba(lighten($secondary-color, 1), 0.06);
  }

  #active {
    background: rgba(lighten($secondary-color, 1), 0.3);
    box-shadow: 0 0 10px rgba(lighten($secondary-color, 1), 0.6),
      0 0 20px rgba(lighten($secondary-color, 1), 0.6),
      0 0 30px rgba(lighten($secondary-color, 1), 0.6),
      0 0 0 75px rgba(lighten($secondary-color, 1), 0.06),
      0 0 0 60px rgba(lighten($secondary-color, 1), 0.06),
      0 0 0 45px rgba(lighten($secondary-color, 1), 0.06),
      0 0 0 30px rgba(lighten($secondary-color, 1), 0.06),
      0 0 0 15px rgba(lighten($secondary-color, 1), 0.06);
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
//services offered
.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px rgb(204, 204, 204) solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

#main-footer {
  text-align: left;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
